<div class="bg-blue-100 flex justify-between space-x-3  pl-16 mt-6">
    <div class="w-1/4 space-y-2 col-start-1 ">
        <img class="h-20 w-20 scale-150 object-scale-down" src="https://www.fameve.com/assets/logo.jpeg">
        <p>Fameve is a company that pioneers innovation across Mshoppa, Fameve Events, and Fameve Sports. With a commitment to excellence, innovation, and inclusivity, we redefine standards in every venture.</p>
    </div>
    <div class="flex flex-col mt-6 space-y-2 ml-12 pl-16 w-1/4">
        <p class="font-bold">Company</p>
        <a href="#">About</a>
        <a href="#">Products</a>
        <a href="#">Contacts</a>
    </div>
    <div class="flex flex-col space-y-2 mt-6 w-1/4">
        <p class="font-bold">Solutions </p>
        <a href="#">Mshoppa</a>
        <a href="#">Fameve Events</a>
        <a href="#">Fameve Sports</a>
        <a href="#">Fameve Cloud</a>

    </div>
    <div class=" flex flex-col mt-6 space-y-2 w-1/4">
        <p class="font-bold">Contacts </p>
        <a href="#">#254703248870</a>
        <a href="#">info &#64;fameve.com</a>
        

    </div>
    

</div>
