<h1 class="flex justify-center items-center text-5xl mt-20">Our Products</h1>
    <p class="flex justify-center items-center text-lg text-gray-700 mt-4"> We are currently developing digital solutions tailored to empower SMEs, driving their<br> growth and success in the digital landscape. Explore them below
    </p>

<mat-tab-group>
    <mat-tab label="Mshoppa">
        <div>
            <button class="hover:bg-blue-100 px-16 py-2 rounded-md">Mshoppa</button>
        </div>
    </mat-tab>
    <mat-tab label="Fameve Events">
        <div>
            <button class="hover:bg-blue-100 px-16 py-2 rounded-md">Fameve Events</button>
        </div>
    </mat-tab>
    <mat-tab label="Fameve Sports">
        <div>
            <button class="hover:bg-blue-100 px-16 py-2 rounded-md">Fameve Sports</button>
        </div>
    </mat-tab>
    <mat-tab label="Fameve Pay">
        <div>
            <button class="hover:bg-blue-100 px-16 py-2 rounded-md">Fameve Pay</button>
        </div>
    </mat-tab>
  </mat-tab-group>
  
