<h1 class="flex justify-center items-center text-5xl mt-20 pt-10 ">Our Products</h1>
    <p class="flex justify-center items-center text-lg text-gray-700 mt-4"> We are currently developing digital solutions tailored to empower SMEs, driving their<br> growth and success in the digital landscape. Explore them below
    </p>

<mat-tab-group>
    <mat-tab label="Mshoppa">
        <div>
            <div class="mshoppa flex mt-16 space-x-20 pt-14 mr-10">
                <div>
                    <img class="scale-150 pl-20 pt-20 mt-10 ml-20 h-30 w-80 object-scale-down" src="https://www.fameve.com/assets/products/mshoppa.png">
                </div>
                <div class="pl-16">
                    <h1 class="font-bold text-5xl pt-20 text-bold">Mshoppa</h1>
                    <p class="pt-6 text-gray-800">A fully managed e-commerce platform offering small and medium<br> enterprises (SME's) an simplified and affordable way to operate online<br> stores and improve their digital presence.
    
                        <br><br>Our platform offers integration with multiple payment options such as<br> major credit cards, Mpesa, Airtel Money and Other providers.</p>
                        <button class="mt-8 rounded-lg p-3  bg-blue-600 px-4 py-1 text-white text-lg">Get started</button>
    
                </div>
            </div>
 
        </div>
    </mat-tab>
    <mat-tab label="Fameve Events">
        <div>
            <div class="events flex pt-14 mt-10 space-x-20 ml-20">
                <div>
                    <img class="ml-10 mt-20 h-30 w-80 scale-100" src="https://www.fameve.com/assets/products/events.png">
                </div>
                <div class="mt-20 pt-20 pl-20">
                    <h1 class="font-bold text-5xl text-bold">Fameve events</h1>
                    <p class="pt-6 text-gray-800">Fameve Events is a comprehensive event management platform that<br> simplifies the process of planning, organizing, and managing events. It<br> offers a wide range of features, including ticketing, registration, and <br>event promotion.</p>
    
                        
                        <button class="mt-8 rounded-lg p-3 mt-4 bg-blue-600 rounded-lg px-4 py-1 text-white text-lg">Get started</button>
    
                </div>
            </div>
 
        </div>
    </mat-tab>
    <mat-tab label="Fameve Sports">
        <div>
            <div class="events flex pt-14 mt-10 space-x-20 ml-20">
                <div>
                    <img class="ml-10 mt-20 h-30 w-80 scale-x-120" src="https://www.fameve.com/assets/products/sports.png">
                </div>
                <div class="mt-20 pt-20 pl-20">
                    <h1 class="font-bold text-5xl text-bold">Fameve Sports</h1>
                    <p class="pt-6 text-gray-800">A seamless solution targeted at Sporting clubs and institutions<br> enabling them to create and manage player information, plan and<br> manage sports competitions and easily share the results digitally.</p>
    
                        
                        <button class="mt-8 rounded-lg p-3 mt-4 bg-blue-600 rounded-lg px-4 py-1 text-white text-lg">Get started</button>
    
                </div>
            </div>
 
        </div>
    </mat-tab>
    <mat-tab label="Fameve Pay">
        <div>
            <button class="hover:bg-blue-100 px-16 py-2 rounded-md">Fameve Pay</button>
        </div>
    </mat-tab>
  </mat-tab-group>
  
