<div class="grid grid-cols-2 my-20 pb-20 space-x-4  border-b mx-20">
    <div class="col-start-1">
        <h1 class="text-indigo-900 text-6xl text-bold font-bold">Design, Build, Scale</h1>
        <p class="pt-6 text-lg">Fameve is a company that pioneers innovation across Mshoppa, Fameve Events, and Fameve Sports. With a commitment to excellence, innovation, and inclusivity, we redefine standards in every venture. </p>
        <div class="flex justify-between mt-6 shadow shadow-b px-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
              </svg>
              
            <input placeholder="Your mail address">
            <button class="bg-indigo-900 rounded-lg px-4 py-1 text-white text-lg">Get started</button>

        </div>
        <div class="mt-10">
            <p>From the most talented team!</p>
            <div class="flex mt-4">
                <img class="h-10 rounded-full" src="https://www.fameve.com/assets/avatars/kigen.jpeg">
                <img class="h-10 rounded-full -ml-2" src="https://www.fameve.com/assets/avatars/mark.jpeg">
                <img class="h-10 rounded-full -ml-2"src="https://www.fameve.com/assets/avatars/laban.jpeg">
            </div>
        </div>

    </div>
    <div class="col-start-2">
        <img class="scale-100" src="https://www.fameve.com/assets/team.svg">
    </div> 
    
    
</div>

