<div class="border-b mt-8 mx-20">
    <div>
        <p class="flex justify-center items-center my-auto">TRUSTED BY</p>
    </div>
    <div class="flex justify-between py-6">
        <img class="object-scale-down scale-200 w-20 h-30" src="https://www.fameve.com/assets/clients/blinkstudio.png">
        <img class="object-scale-down scale-200 w-20 h-20" src="https://www.fameve.com/assets/clients/bulb.jpeg">
        <img class="object-scale-down scale-200 w-20 h-20" src="https://www.fameve.com/assets/clients/tieevents.png">
        <img class="object-scale-down scale-200 w-20 h-20" src="https://www.fameve.com/assets/clients/jujaya.jpeg">
        <img class="object-scale-down scale-200 w-20 h-20" src="https://www.fameve.com/assets/clients/onestop.svg">
    </div>
</div>
