<div class="mt-20  ">
    <h1 class="text-lg text-bold font-bold flex justify-center">Our solutions in play</h1>
    <p class="flex text-lg justify-center">Hear from our customers</p>
</div>

<div class="flex space-x-8 mx-10 my-10">
    <div class="w-1/3 rounded-lg px-6 border border-grey-500 py-10 space-y-2">
        <img class="object-scale-down h-40 w-40" src="https://www.fameve.com/assets/clients/blinkstudio.png">
        <p>"Our website visibility has increased since we moved it to fameve "
        </p>
        <div>
            <p class="font-bold">Asif Ahmed<br><span class="font-normal">Bulb Interactive Group</span></p>
            
        </div>

    </div>
    <div class="w-1/3 rounded-lg px-6 border border-grey-500 py-10 space-y-2 ">
        <img class="object-scale-down h-10 w-10" src="https://www.fameve.com/assets/clients/bulb.jpeg">
        <p>" Our sales have increased since we started using fameve events. Also our data has been more organized and there has been a great reduction in paper work
        </p>
        <div class="pt-3">
            <p class="font-bold">Elijah<br><span class="font-normal">Director, Blink Studio Ltd</span></p>
            
        </div>
    </div>
    <div class="w-1/3 rounded-lg px-6 border border-grey-500 py-10 space-y-2">
        <img class="object-scale-down h-20 w-20" src="https://www.fameve.com/assets/clients/tieevents.png">
        <p>" The events platform is awesome, it has solved 90% of our problems moreso communicating to our customers after the event "
        </p>
        <div class="pt-3">
            <p class="font-bold">Eugene Muchai<br><span class="font-normal">CEO, Tie Events</span></p>
            
        </div>

    </div>
</div>
